
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <p id="notice"><%= notice %></p>

      <p>
        <h2>Post:</h2>
        <%= @comment.post_id %>
      </p>

      <p>
        <strong>Body:</strong>
        <%= @comment.body %>
      </p>

      <%= link_to 'Edit', edit_comment_path(@comment) %> |
      <%= link_to 'Back', comments_path %>
    </div>
  </div> 
</div>