  <div class="container container-blog">
    <h1>Tips & Tricks</h1>
    <p>How to make a perfect cup of coffee</p>     
  </div><!--end container-->

  <div class="container">
    <div class="row">
      <div class="col-md-8">
        <% @posts.each do |post| %>
          <h2><%= post.title %></h2>
          <p><%= post.body %></p>
          <p><%= link_to 'Show', post %></p>
          <p><%= link_to 'Edit', edit_post_path(post) %></p>
          <p><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></p>
        <% end %>
      </div>
      <div class="col-md-4" id= "sidebar-blog">
        <div class="row">
          <h3>Categories</h3>
          <p>content</p>
        </div>
      </div>
    </div>
  </div><!--end container-->
  <br>
  <div class="container">
    <h1><%= link_to 'New Post', new_post_path %></h1>
  </div>
  <!-- Pager -->
  <div class="container">
    <ul class="pager">
      <li class="next">
        <a href="#">Older Posts &rarr;</a>
      </li>
    </ul>
  </div>




